
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(236, 234, 230);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate; 
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    color: rgb(196, 157, 106);
}

.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
}

.footer {
    display: flex;
    margin-top: 20px;
    width: 50%;
    justify-content: space-between;
}

.footer-controls {
    display: flex;
    justify-content: center;
}

.footer-controls > button {
    margin: 0px 5px;
    background-color: rgb(253, 245, 234);
    font-weight: 600;

}

.active-filter {
    border-style: solid;
    border-color: rgb(196, 157, 106);
    color: rgb(196, 157, 106);

}

.todo-list {
    margin-top: 20px;
    width: 50%;
}
.clear-completed, .items-togo {
    font-weight: 600;
}

.clear-completed {
    text-decoration: underline;
}

.todo {
    display: flex;
    background-color: antiquewhite;
    padding: 12px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 3px solid rgb(196, 157, 106);
}

.todo-status {
    background-color: rgb(253, 245, 234);;

    border: none;
    border-radius: 5px;

    padding: 9px 16px;
    width: 80px;
}

.remove {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: larger;
}

.todo-description {
    flex: 1;
    background-color: rgb(253, 245, 234);;

    border: none;
    border-radius: 5px;

    margin: 0px 10px;
    padding: 9px 16px;
    
}

button:hover, .clear-completed, .todo-description {
    cursor: pointer;
}

.remove:hover, .clear-completed:hover {
    color: red;
    font-weight: 600;
}